@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


.contact-container {
    max-width: 800px;
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    text-align: center;
    background-color: #fff0f5;
    color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
  }
  
  .contact-container h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #e91e63;
  }
  
  .contact-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #c2185b;
  }
  